/*公共样式文件*/
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, div {
    margin: 0;
    padding: 0
}

body {
    color: #fff;
    -webkit-text-size-adjust: none;
    font-size: 1em;
    font-family: "Avenir Next Regular", "microsoft yahei";
    background: #fff;
}

img, fieldset {
    border: 0;
 /*   height: auto !important; */
    display: block;
}

ul, ol {
    list-style: none
}

em, address {
    font-style: normal
}

a {
    color: #3a3a3a;
    text-decoration: none
}

table {
    border-collapse: collapse
}

.clear {
    clear: both;
    width: 100%;
}

.clear:after {
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    content: ''
}

.wrapper {
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.spinner {
    width: 50px;
    height: 60px;
    text-align: center;
    font-size: 10px;
    margin-top: 50%;
    position: fixed;
    left: 50%;
    margin-left: -25px;

}

.spinner > div {
    background-color: #fee101;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

.spinner .rect3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

.spinner .rect4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

.spinner .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }
    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

.css3_gif {
    position: relative;
}

.moon img {
    width: 298px;
    height: 298px;
    display: block;
    position: absolute;
    z-index: 990;

    -webkit-animation: moon 5s .1s ease both;
    -webkit-animation-delay: 0.5s; /*动画延迟时间*/
}

@-webkit-keyframes moon {
    0% {
        opacity: 0;
        -webkit-transform: translate(100%, 100%);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(-22%, -50%);
    }

}

.star_img1 img {
    width: 13px;
    height: 13px;
    -webkit-animation: star_1 1.2s infinite ease-in-out;
    position: absolute;
    top: 190px;
    left: 65px;
    display: block;
    z-index: 10;
}

.star_img2 img {
    width: 14px;
    height: 14px;
    -webkit-animation: star_2 1.3s infinite ease-in-out;
    position: absolute;
    top: 210px;
    left: 120px;
    display: block;
    -webkit-transform: rotate(-30deg);
    z-index: 10;
}

.star_img3 img {
    width: 10px;
    height: 10px;
    -webkit-animation: star_3 1.5s infinite ease-in-out;
    position: absolute;
    top: 150px;
    left: 195px;
    display: block;
    -webkit-transform: rotate(80deg);
    z-index: 10;
}

.star_img4 img {
    width: 9px;
    height: 9px;
    -webkit-animation: star_4 1.2s infinite ease-in-out;
    position: absolute;
    top: 140px;
    right: 40px;
    display: block;
    -webkit-transform: rotate(0deg);
    z-index: 10;
}

.star_img5 img {
    width: 6px;
    height: 6px;
    -webkit-animation: star_5 1.2s infinite ease-in-out;
    position: absolute;
    top: 40px;
    right: 70px;
    display: block;
    -webkit-transform: rotate(44deg);
    z-index: 10;
}

.star_img6 img {
    width: 12px;
    height: 12px;
    -webkit-animation: star_6 1.2s infinite ease-in-out;
    position: absolute;
    top: 100px;
    right: 50px;
    display: block;
    -webkit-transform: rotate(44deg);
    z-index: 10;
}

.star_img7 img {
    width: 13px;
    height: 13px;
    -webkit-animation: star_7 1.2s infinite ease-in-out;
    position: absolute;
    top: 100px;
    left: 50px;
    display: block;
    -webkit-transform: rotate(44deg);
    z-index: 10;
}

.star_img8 img {
    width: 10px;
    height: 10px;
    -webkit-animation: star_8 1.2s infinite ease-in-out;
    position: absolute;
    top: 60px;
    left: 20px;
    display: block;
    -webkit-transform: rotate(24deg);
    z-index: 10;
}

.star_img9 img {
    width: 15px;
    height: 15px;
    -webkit-animation: star_9 1.2s infinite ease-in-out;
    position: absolute;
    top: 20px;
    right: 200px;
    display: block;
    -webkit-transform: rotate(24deg);
    z-index: 10;
}

@-webkit-keyframes star_1 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes star_2 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes star_3 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes star_4 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes star_5 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes star_6 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes star_7 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes star_8 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }

}

@-webkit-keyframes star_9 {
    0% {
        opacity: 0.2;
    }
    25% {
        opacity: 0.4;
    }
    50% {
        opacity: 0.6;
    }
    75% {
        opacity: 0.8;
    }
    100% {
        opacity: 1;
    }

}

.cloud_1 img {
    width: 30px;
    height: auto;
    position: absolute;
    top: 200px;
    left: 20px;
    display: block;
    z-index: 10;
    -webkit-animation: cloud_1 2s .1s ease both;
    -webkit-animation-delay: 3s; /*动画延迟时间*/
}

.cloud_2 img {
    width: 54px;
    height: auto;
    position: absolute;
    top: 40px;
    right: 10px;
    display: block;
    z-index: 10;
    -webkit-animation: cloud_2 2s .1s ease both;
    -webkit-animation-delay: 2.8s; /*动画延迟时间*/
}

.cloud_3 img {
    width: 15px;
    height: auto;
    position: absolute;
    top: 20px;
    right: 80px;
    display: block;
    z-index: 10;
    -webkit-animation: cloud_2 2s .1s ease both;
    -webkit-animation-delay: 3.2s; /*动画延迟时间*/
}

@-webkit-keyframes cloud_1 {
    0% {
        left: 0px;
        bottom: 30px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        left: 20px;
        bottom: 30px;
    }
}

@-webkit-keyframes cloud_2 {
    0% {
        right: -10px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        right: 10px;
    }
}

@-webkit-keyframes cloud_3 {
    0% {
        right: 60px;
        top: 20px;
        opacity: 0;
    }
    100% {
        opacity: 1;
        right: 80px;
    }
}

.cardcontent_box {
    position: relative;
    z-index: 19;
    margin-top: 55%;
    -webkit-animation: cardcontent 4s .1s ease both;
    -webkit-animation-delay: 0.5s; /*动画延迟时间*/
}

.cardcontent_topbg img {
    width: 100%;
}

.cardcontent {
    padding: 20px 14px 10px 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
 /*   background: #0e1f39;  */

    background: rgba(0, 0, 0, 0.5);
    display: block;
}

@-webkit-keyframes cardcontent {
    0% {
        opacity: 0;
        bottom: -3000px
    }

    100% {
        opacity: 1;
        bottom: 0px;
    }
}

.cardFrom_id {
    font-weight: normal;
    height: 28px;
    font-size: 15px;
    position: relative;
    -webkit-animation: cardFrom_id 2.5s .1s ease both;
    -webkit-animation-delay: 3.6s; /*动画延迟时间*/
}

@-webkit-keyframes cardFrom_id {
    0% {
        opacity: 0.8;
        left: -300px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

.cardBody_id {
    line-height: 24px;
    position: relative;
    margin-bottom: 8px;
    font-size: 15px;
    -webkit-animation: cardBody_id 3.2s .1s ease both;
    -webkit-animation-delay: 3.6s; /*动画延迟时间*/
}

@-webkit-keyframes cardBody_id {
    0% {
        opacity: 0;
        bottom: -300px;
    }
    75% {
        opacity: 0;
        bottom: -300px;
    }
    100% {
        opacity: 1;
        right: 0
    }
}

.cardTo_id {
    text-align: right;
    position: relative;
    position: relative;
    -webkit-animation: cardTo_id 3.5s .1s ease both;
    -webkit-animation-delay: 4.3s; /*动画延迟时间*/
}

@-webkit-keyframes cardTo_id {
    0% {
        opacity: 0;
        right: -300px;
    }
    75% {
        opacity: 0;
        right: -300px;
    }
    100% {
        opacity: 1;
        right: 0
    }
}

.make_btn {
    background: #15806c;
    border-radius: 6px;
    height: 36px;
    width: 126px;
    display: block;
    margin: 0 auto;
    text-align: center;
    line-height: 36px;
    color: #fff;
    margin-bottom: 30px;
    margin-top: 30px;
    position: relative;
    -webkit-animation: make_btn 4s .1s ease both;
    -webkit-animation-delay: 4.4s; /*动画延迟时间*/
}

@-webkit-keyframes make_btn {
    0% {
        opacity: 0;
        bottom: -300px
    }
    75% {
        opacity: 0;
        bottom: -300px
    }
    100% {
        opacity: 1;
        bottom: 0
    }
}

.footer_banner {
    -webkit-animation: footer_banner 4.5s ease-out;
    position: relative;
    width: 100%;
}

.mModal {
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 900;
}

.mModal > a {
    display: block;
}

.popup_bg {
    border-radius: 8px;
    position: fixed;
    width: 280px;
    z-index: 901;
    left: 50%;
    top: 50px;
    margin-left: -140px;
    background: #fffeeb;
    -webkit-animation: popup_bg 1s .1s ease both;
    -webkit-animation-delay: 0.1s; /*动画延迟时间*/
}

.popup_box {
    z-index: 999;
    position: relative;
}

@-webkit-keyframes popup_bg {
    0% {
        opacity: 1;
        top: -500px
    }
    100% {
        opacity: 1;
    }
}

.popup_box_li {
    margin: 10px 30px;
    position: relative;
}

.popup_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(207, 84, 0);
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    text-align: center;
    white-space: nowrap;
    padding-top: 20px;
}

.popup_tobox_id {
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    width: 100%;
    text-indent: 10px;
    -webkit-appearance: none;
    box-shadow: none
}

.popup_bodytext_id_bg {
    height: 140px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: normal;
    width: 100%;
}

.popup_bodytext_id {
    border: none;
    background: none;
    width: 92%;
    height: 120px;
    font-size: 13px;
    margin: 0 auto;
    display: block;
    padding: 10px 0;
    color: #1f1f1f;
    -webkit-appearance: none;
    box-shadow: none
}

.popup_frombox_id {
    height: 36px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    background-color: rgb(255, 255, 255);
    position: relative;
    margin: 10px 30px;
}

.popup_fromtext_id {
    position: absolute;
    margin: 0px;
    top: 10px;
    height: 26px;
    right: auto;
    bottom: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgb(70, 70, 70);
    font-weight: normal;
    text-decoration: none;
    text-align: left;
    width: 100%;
    text-indent: 8px;
    -webkit-appearance: none;
    box-shadow: none
}

.btn_box {
    position: relative;
    margin: 0 auto;
    width: 220px;
    padding: 10px 0 20px 0;
}

.popup_btn_id {
    width: 100px;
    height: 34px;
    cursor: pointer;
    border-radius: 8px;
    border: 0px none rgb(0, 0, 0);
    background-color: rgb(10, 129, 251);
    display: block;
    text-align: center;
    line-height: 34px;
    color: #fff;
    float: left;
    margin-right: 20px;
}

.popup_btncancle_id {
    width: 100px;
    height: 34px;
    cursor: pointer;
    border-radius: 8px;
    border: 0px none rgb(0, 0, 0);
    border: 0px none rgb(0, 0, 0);
    background-color: rgb(177, 177, 177);
    display: block;
    text-align: center;
    line-height: 34px;
    color: #fff;
    float: left;
}

.arrow_left {
    position: absolute;
    left: -30px;
    -webkit-transform: rotate(180deg);
    width: 30px;
    display: block;
    cursor: pointer;
}

.arrow_left img {
    width: 12px;
    height: 12px;
    margin: auto;
    padding: 64px 0;
}

.arrow_right {
    position: absolute;
    right: -30px;
    width: 30px;
    display: block;
    cursor: pointer;
}

.arrow_right img {
    width: 12px;
    height: 12px;
    margin: auto;
    padding: 64px 0;
}
