<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wz0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,92}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,227},{182,92}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,136}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,183},{182,136}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz10.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,344},{182,144}}</string>
                <key>offset</key>
                <string>{0,-87}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,175},{182,144}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz11.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,186},{182,114}}</string>
                <key>offset</key>
                <string>{0,-102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,205},{182,114}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
	    <key>wz12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,92}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,227},{182,92}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz2.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,178},{182,164}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,155},{182,164}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{182,192}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{182,192}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz4.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,178},{182,164}}</string>
                <key>offset</key>
                <string>{0,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,155},{182,164}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz5.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,136}}</string>
                <key>offset</key>
                <string>{0,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,183},{182,136}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{182,92}}</string>
                <key>offset</key>
                <string>{0,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,227},{182,92}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{182,192}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,127},{182,192}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,202}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,117},{182,202}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
            <key>wz9.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,174}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,145},{182,174}}</string>
                <key>sourceSize</key>
                <string>{182,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wenzi.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2081b2181b884c0194ca789d8b3a1efe$</string>
            <key>textureFileName</key>
            <string>wenzi.png</string>
        </dict>
    </dict>
</plist>
