<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zj1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{168,75}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj10.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{168,159}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj11.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,163},{168,89}}</string>
                <key>offset</key>
                <string>{0,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,124},{168,89}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{168,75}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj2.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,163},{168,87}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{168,87}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj3.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,159}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{168,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,213}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj5.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{168,159}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,54},{168,159}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj6.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,163},{168,87}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,126},{168,87}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,432},{168,75}}</string>
                <key>offset</key>
                <string>{0,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,138},{168,75}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,217},{168,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,213}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
            <key>zj9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,213}}</string>
                <key>sourceSize</key>
                <string>{168,213}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zongjian.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8beded16c739ed90d18e56fb0fb31de4$</string>
            <key>textureFileName</key>
            <string>zongjian.png</string>
        </dict>
    </dict>
</plist>
